# Configuration file

client {
    # When enabled, this will display an informational message about RTG when entering the Customize World screen.
    # This will display once and automatically disable itself.
    B:worldTypeNotification=false
}


common {
    # RTGC To be the default world type for new worlds.
    # !This setting is not used for existing worlds!
    S:defaultWorldType=true

    geography {
        # Number of times biomes are scaled and refined.
        # !Smaller values result in smaller, more fragmented biomes with more frequent terrain transitions!
        I:biomeSize=5

        # Global island and ocean distribution.
        # !1: Vanilla distribution (no clear preference) 2: Continents 3: Archipelagos!
        I:islandScheme=1

        # Global land and sea distribution.
        # !1: Vanilla distribution (no clear preference) 2: Continents 3: Archipelagos!
        I:landScheme=1

        # Precipitation distribution patterns.
        # !1: Small areas 2: Medium areas 3: Large areas 4: Random!
        I:rainScheme=3

        # Density and complexity of river distribution.
        # !Larger values lead to denser and more intricate river systems!
        I:riverSize=4

        # Temperature distribution patterns.
        # !1: Latitude-based 2: Small areas 3: Medium areas 4: Large areas 5: Random!
        I:tempScheme=3
    }

    debug {
        # Enable the logging of additional biome information on startup.
        B:additionalBiomeInfo=false

        # A blacklist of mods whose biomes will never be supported, so ignore them.
        # This will only suppress log warnings during initialization.
        S:blacklistMods <
            appliedenergistics2
            galacticraftcore
            galacticraftplanets
            extraplanets
            moreplanets
            twilightforest
         >

        # Enable extra debug logging.
        # !This setting has a severe performance penalty. Only enable if you know what you are doing!
        B:enableDebugging=false

        # If RTG encounters an unsupported biome it will generate this biome instead.
        # This uses the standard ResourceLocation format: mod_id:biome_registry_name
        S:patchBiome=minecraft:plains
    }

    surface {
        # Set this to FALSE to prevent RTG from generating lush river bank decorations in hot biomes,
        # like Desert and Mesa. Lush decorations consist of tallgrass, trees, shrubs, and other flora.
        B:lushRiverbanksInDesert=true

        # Average depth of rivers. 
        D:riverDepth=57.0

        # The block to use for desert terrain shadowing, typically seen on the cliffs of desert mountains.
        # Leave blank to disable
        S:shadowDesertBlock=minecraft:stained_hardened_clay[color=gray]

        # The block to use for stone terrain shadowing, typically seen on the cliffs of stone mountains.
        # Leave blank to disable
        S:shadowStoneBlock=minecraft:stained_hardened_clay[color=cyan]

        # The maximum distance surfaces will blend into each other if enabled for two adjacent biomes.
        # By default, surface blending is only enabled for beaches. You can control that in biome settings
        I:surfaceBlendRadius=32

        # Multiplier to average width of rivers and lakes. 
        D:waterFeatureWidthMultiplier=1.0
    }

    trees {
        # Set this to FALSE to prevent the trunks of RTG trees from using the 'all-bark' texture model.
        # For more information, visit https://minecraft.wiki/w/Java_Edition_data_values/Pre-flattening#Wood
        B:barkCoveredLogs=true

        # Set this to TRUE to allow RTG's custom trees to grow from groups of vanilla saplings.
        # Otherwise RTG's custom trees cannot be grown
        B:rtgTreesFromSaplings=true

        # Set this to FALSE to prevent shrub trunks from generating below the surface.
        B:shrubsBelowSurface=true

        # This setting allows you to alter the amount of RTG trees that generate globally in all biomes.
        # This setting is compounded with the density setting found in the biome configs and only affects trees generated by RTG.Trees generated by a biome's native decorator will adhere to their own density rules.
        # values below 1.0 will decrease the amount of trees, values above 1.0 will increase the amount of treesThe combination of this value and the biome-specific value will never exceed 5.0
        D:treeDensityMultiplier=1.0

        # Set this to FALSE to prevent trees from generating on sand.
        # This setting only affects trees generated by RTG. Trees generated by a biome's decorator
        # will adhere to their own generation rules. (RTG's Palm Trees ignore this setting.)
        B:treesCanGenerateOnSand=true
    }

}


