/.curseclient
/.mixin.out
/avaritiarecipemakeroutput.txt
/crafttweaker.log
/crash-reports
/downloads
/dropt.log
/dumps
/logs
/hs_err_pid12376.log
/hs_err_pid13712.log
/hs_err_pid16848.log
/hs_err_pid18332.log
/hs_err_pid4476.log
/minecraftinstance.json
/mountains.txt
/profileImage
/replay_pid12376.log
/replay_pid13712.log
/replay_pid16848.log
/replay_pid18332.log
/replay_pid4476.log
/resourcepacks
/roots.log
/saves
/shaderpacks
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap
config/xaerominimap_entities.json
config/xaerominimap_entities.json
benchmark.md
hei_bookmarks.ini
options.txt
optionsof.txt
/TombManyGraves
/.index
/caches
Notes.txt
thaumicjei_itemstack_aspects.json
tinker_ore_dict_melting_cache.dat
/backups
/screenshots