# Configuration file

general {

    "astral sorcery" {

        ##########################################################################################################
        # resonance analyzer
        #--------------------------------------------------------------------------------------------------------#
        # Astral Sorcery machine used to sort celestial crystals based on size and purity.
        ##########################################################################################################

        "resonance analyzer" {
            # Enables the Resonance Analyzer.
            B:enableCrystalSorter=true

            # The Crystal Sorter will sort sort respecting size in addition to purity.
            B:sortRespectingSize=true
        }

    }

    botania {

        ##########################################################################################################
        # auromeria
        #--------------------------------------------------------------------------------------------------------#
        # Botania functional flower. Uses Thaumcraft vis and mana to generate mana bursts. See Lexicon entry for
        # more details
        ##########################################################################################################

        auromeria {
            # Enables the Auromeria flower and the Flux Lens.
            B:enableAuromeria=true

            # The amount of damage a flux mana burst deals when colliding with an entity.
            D:fluxBurstDamage=12.0

            # The amount of flux drained from the environment when the Auromeria drains flux when creating a mana
            # burst.
            D:fluxDrainAmount=0.05

            # The base chance that the Auromeria will drain flux when generating a mana burst.
            D:fluxDrainChance=0.05

            # The amount of flux generated when a flux mana burst explodes.
            D:pollutionAmount=0.2

            # The chance of aura pollution when a flux mana burst explodes.
            D:pollutionChance=0.5
        }

    }

    thaumcraft {
        # Enables the Revealing infusion enchantment, allowing all non-goggle helmets to display Aspects on valid blocks.
        B:"Revealing Infusion Enchantment"=true
    }

}


