# Configuration file

general {

    "actually additions" {
        # Fixes Actually Additions Farmer not replanting crops on modded soils
        B:"Fix Default Farmer Replant Behavior"=true
    }

    agricraft {
        # Fixes broken Ender IO integration that causes Farming Station crash. This fix is included in
        # Universal Tweaks 1.15.0 and will disable itself if Universal Tweaks is present.
        B:"Fix Ender IO Plugin"=true
    }

    animania {
        # Fixes seed placement dispenser logic when Botania or Quark is loaded
        B:"Fix Dispenser Logic"=true
    }

    harvestcraft {
        # Fixes bark harvesting causing items to launch in random directions.
        B:"Bark Harvest Fix"=true

        # Removes the burntime from Harvestcraft machinery.
        B:"Burnable Machine Fix"=true
    }

}


