# Configuration file

general {
    # Enable PackCompanion configuration analysis.
    B:"Analyze Config Settings"=true

    # Enable PackCompanion mod analysis.
    B:"Analyze Mod List"=true

    # Enables debug mode with robust logging.
    B:"Enable Debug Mode"=false

    # Enables the PackCompanion login message.
    B:"Enable Login Message"=true

    # Upload the PackCompanion markdown output file to "Rentry.co" to view formatted markdown text.
    B:"Enable Upload To Rentry"=false

    # Enables the PackCompanion remote (online) master list check. Only set this to false if you want to modify the lists manually.
    B:"Enable Version Check"=true

    # Limit how many instances of reports you want to be present in your output folder (1-100)
    # Min: 1
    # Max: 100
    I:"Report files count limit"=2
}


