# Configuration file

animation {
    B:animation=true
    B:blockAnimations=true
    B:fire=true
    B:lava=true
    B:portal=true
    B:water=true
}


detail {
    B:biomeColors=true
    B:rainSnow=true
    B:sky=true
    B:skyColors=true
    B:stars=true
    B:sunMoon=true
    I:totalStars=1500
    B:voidFog=true
    B:voidParticles=true
}


extra {
    B:hideHeiUntilSearch=false
    B:ignoreReducedDebugInfo=false
    B:modNameTooltip=false
    I:overlayCorner=0
    B:showCoords=false
    B:showFPSExtended=true
    B:showFps=false
    B:steadyDebugHud=false
    I:steadyDebugHudRefreshInterval=20
    I:textContrast=2
    B:toastAdvancement=true
    B:toastRecipe=true
    B:toastSystem=true
    B:toastTutorial=true
    B:toasts=true
    B:useAdaptiveSync=false
}


particle {
    B:blockBreak=true
    B:blockBreaking=true
    B:particles=true
    B:rainSplash=true
}


particle_classes {
    S:disabledClasses <
     >
    S:discoveredClasses <
        net.minecraft.client.particle.ParticleEnchantmentTable|ParticleEnchantmentTable
        net.minecraft.client.particle.ParticleSpit|ParticleSpit
        net.minecraft.client.particle.ParticleBubble|ParticleBubble
        net.minecraft.client.particle.ParticleSmokeLarge|ParticleSmokeLarge
        net.minecraft.client.particle.ParticleTotem|ParticleTotem
        net.minecraft.client.particle.ParticleSpell|ParticleSpell
        net.minecraft.client.particle.Barrier|Barrier
        net.minecraft.client.particle.ParticleDigging|ParticleDigging
        net.minecraft.client.particle.ParticleHeart|ParticleHeart
        net.minecraft.client.particle.ParticleExplosionHuge|ParticleExplosionHuge
        net.minecraft.client.particle.ParticleLava|ParticleLava
        net.minecraft.client.particle.ParticleBreaking|ParticleBreaking
        net.minecraft.client.particle.ParticleBlockDust|ParticleBlockDust
        net.minecraft.client.particle.ParticleExplosionLarge|ParticleExplosionLarge
        net.minecraft.client.particle.ParticleCrit|ParticleCrit
        net.minecraft.client.particle.ParticleRain|ParticleRain
        net.minecraft.client.particle.ParticleWaterWake|ParticleWaterWake
        net.minecraft.client.particle.ParticleSplash|ParticleSplash
        net.minecraft.client.particle.ParticleNote|ParticleNote
        net.minecraft.client.particle.ParticleSuspendedTown|ParticleSuspendedTown
        net.minecraft.client.particle.ParticleMobAppearance|ParticleMobAppearance
        net.minecraft.client.particle.ParticleFallingDust|ParticleFallingDust
        net.minecraft.client.particle.ParticleSuspend|ParticleSuspend
        net.minecraft.client.particle.ParticleDragonBreath|ParticleDragonBreath
        net.minecraft.client.particle.ParticleEndRod|ParticleEndRod
        net.minecraft.client.particle.ParticleFootStep|ParticleFootStep
        net.minecraft.client.particle.ParticleSnowShovel|ParticleSnowShovel
        net.minecraft.client.particle.ParticleCloud|ParticleCloud
        net.minecraft.client.particle.ParticleRedstone|ParticleRedstone
        net.minecraft.client.particle.ParticlePortal|ParticlePortal
        net.minecraft.client.particle.ParticleFlame|ParticleFlame
        net.minecraft.client.particle.ParticleSweepAttack|ParticleSweepAttack
        net.minecraft.client.particle.ParticleDrip|ParticleDrip
        net.minecraft.client.particle.ParticleExplosion|ParticleExplosion
        net.minecraft.client.particle.ParticleSmokeNormal|ParticleSmokeNormal
     >
}


render {
    B:armorStands=true
    B:beacons=true
    I:cloudDistance=0
    I:cloudHeight=192
    I:cloudScale=4
    I:cloudTranslucency=0
    B:clouds=true
    B:enchantingTableBooks=true
    B:fog=true
    I:fogDistance=0
    I:fogStart=100
    I:itemFrameLodDistance=0
    B:itemFrameNameTag=true
    B:itemFrames=true
    B:lightUpdates=true
    B:limitBeaconBeamHeight=false
    B:paintings=true
    B:pistons=true
    B:playerNameTag=true
    B:preventShaders=false
}


