# Configuration file

balance {
    # Makes NanoSuit absorb up to 10 fall damage, instead of applying the full fall damage if it's higher than 10. [default: true]
    B:buffedNanoSuitFallDamageReduction=true

    # Makes QuantumSuit Night Vision fully automatic, removing the blindness effect if the surrounds are too bright, only removing the Night Vision effect in that situation. [default: true]
    B:buffedQuantumSuitNV=true

    # Changes the behaviour of the generators to limit the burn-rate if the energy buffer is full, making them more fuel efficient. [default: true]
    B:efficientGenerators=true

    # Determines the efficiency of Coils in the Electric Heater [HU produced per Coil]. [range: 0 ~ 1000, default: 10]
    I:huPerCoil=10

    # Determines the efficiency of Heat Exchangers in the Liquid Heat Exchanger [HU transferred per Exchanger]. [range: 1 ~ 1000, default: 10]
    I:huPerExchanger=10
}


patches {
    # Adds bucket-like behaviour to the FluidCell, allowing to pickup fluids that aren't adjacent to a block. [default: true]
    B:bucketFluidCell=true

    # [Experimental] Forces the Push/Pull upgrades to tick only once every x ticks with few exceptions. If false, uses default IC2 behaviour. [default: false]
    B:enableUpgradeTickInterval=false

    # [Experimental] Replaces the original UU-Matter calculator with a completely custom solution.
    # This will affect UU-Values being calculated, to be possibly more "fair" than the defaults, and should resolve compatibility issues with mods that cause crashes of original solution. [default: false]
    B:newUUMatterCalculator=false

    # [Experimental] Determines cooldown (in ticks) of push upgrades, after failed item transfer. [range: 1 ~ 1200, default: 20]
    I:pushUpgradeCooldown=20

    # [Experimental] Forces the Push/Pull upgrades to tick only once every x ticks with few exceptions.
    # - For Push: Ticked if output is full, if transfer failed, triggers a cooldown.
    # - For Pull: Tick is skipped if output/input is full.
    #   [range: 1 ~ 100, default: 5]
    I:upgradeSlotTickInterval=5

    # [Experimental] Changes the way EnergyNet handles and stores World Reference, to possibly fix randomly disconnecting wires.
    # Enabling this switches out the previous patch for this new solution. Please report any issues related to EnergyNet if you have this patch enabled.
    # Creating a backup of the world before turning this patch on is recommended. [default: false]
    B:worldReferenceSwitch=false
}


