# Configuration file

"general configs" {
    # Allows rendering the ItemStacks aspects in all GUI
    B:aspectTooltipInAllGUI=true

    # Should the caches (JEI, aspect and entity) be updated automatically?
    B:autoUpdateCaches=true

    # The path in which the aspect caches will be written
    S:cachePath=cache/thaumicinfo
}


##########################################################################################################
# hwyla/the one probe configs
#--------------------------------------------------------------------------------------------------------#
# Configurations for HWYLA and TOP support
# All integration exists for both mods, and will only be loaded if the mod is present
##########################################################################################################

"hwyla/the one probe configs" {
    # Integration for the arcane ear. Shows note and tone
    B:arcaneEar=true

    # Integration for the brain in a jar. Shows xp contents
    B:brainInJar=true

    # Integration for essentia tubes. Shows contents and suction
    B:essentiaTransport=true

    # Integration for goggles display. Only used for the Infusion Matrix's stability
    B:gogglesDisplay=true

    # Integration for the vanilla note block. Shows the currently selected note. Useful for the arcane ear.
    B:noteBlock=true

    # Whether most information requires the goggles
    B:requireGoggles=true

    # If enabled, the aspects will be shown as text instead of their icons. Might help readability
    B:showAspectsAsText=false

    # Integration for the vis battery. Shows current and max stored vis
    B:visBattery=true

    # Integration for the vis generator. Shows current energy
    B:visGenerator=true

    # Integration for the void siphon. Shows current progress
    B:voidSiphon=true
}


"jei configs" {
    # Hide recipes from JEI if you don't have the research for it
    B:hideRecipesIfMissingResearch=false

    # Items blacklisted from the checking in the Aspect For ItemStack. Format: 'minecraft:stone'
    S:jeiBlacklist <
        minecraft:spawn_egg
        forge:bucketfilled
     >

    # Make JER mob loot include crystals dropped when killed by liquid death
    # Requires Just Enough Resources
    B:jerCrystals=true

    # Makes the Aspect From Itemstack category show a background that is clearer the purer the item's aspect is
    B:purityBackground=false

    # Should the crafting recipe for Salis Mundus and Triple Meat Treat appear in JEI?
    B:showSpecialRecipes=true

    ##########################################################################################################
    # category toggles
    #--------------------------------------------------------------------------------------------------------#
    # Toggles to unregister any JEI Category
    ##########################################################################################################

    "category toggles" {
        B:"Arcane Workbench"=true
        B:"Aspect Compound"=true
        B:"Aspect from ItemStack"=true
        B:Crucible=true
        B:"Infernal Furnace"=true
        B:"Infusion Crafting"=true
        B:"Salis Mundus"=true
    }

}


"performance configs" {
    # Caches the entity and itemstack aspects on first launch
    # Limits the amount of cached different aspects and the quantity of any aspect to 255
    # This limit does not apply on aspects computed through recipes unless they are computed during launch
    # This option might mess up aspects. You should use Thaumic Speedup instead
    B:aspectCache=false

    # Optimizes Thaumcraft's hash for ItemStacks
    # Toggling this option will require you to delete the itemstack cache
    # Note that this option will make ItemStacks aspect matching disregard capabilities
    # This might be more stable than Thaumic Speedup's hash if the aspect cache is enabled
    B:fasterHash=false

    # Optimizes the acquisition of oreDicts ending in a wildcard i.e. ingot*
    B:fasterOreDictWildcard=true

    # Implements FastWorkbench for the pattern crafter
    B:patternCrafterRecipeCache=true
}


"visualores configs" {

    ##########################################################################################################
    # dioptra
    #--------------------------------------------------------------------------------------------------------#
    # If enabled, the thaumic dioptra will send aura data to every online player that interacted with it
    # This makes the dioptra auto-update the VisualOres map in square centered on the dioptra
    ##########################################################################################################

    dioptra {
        # The interval (in ticks) between synchronizations
        # Min: 1
        # Max: 2147483647
        I:delay=64

        # Should this be allowed
        # Warning: toggling this off will make dioptras forget which players interacted with it
        B:enabled=true

        # The radius of the dioptra update square, in chunks
        # A radius of 0 means only this chunk it is in, a radius of 1 means a 3x3 square
        # The default is 6, so a 13x13 square, which covers the same area as the dioptra visual display
        # Min: 0
        # Max: 2147483647
        I:radius=6
    }

    ##########################################################################################################
    # overlay
    #--------------------------------------------------------------------------------------------------------#
    # Replaces the default overlay with a constant purple overlay whose opacity depends on flux
    # The formulas for opacity are separated between the center and the border of chunks and are min(max_value, floor(fluxAmount * mutliplier))
    ##########################################################################################################

    overlay {
        # The color of the hue, in format 0xRRGGBB converted to decimal because forge configs
        I:color=7280252

        # Allows modification of the overlay
        B:enabled=true

        # The max opacity of the center. 0 is invisible, 255 is opaque
        # Min: 0
        # Max: 255
        I:max_value_border=255

        # The max opacity of the center. 0 is invisible, 255 is opaque
        # Min: 0
        # Max: 255
        I:max_value_center=119

        # The multiplier parameter for the border opacity computation
        D:multiplier_border=6.25

        # The multiplier parameter for the center opacity computation
        D:multiplier_center=6.150000095367432
    }

}


